/.ipynb_checkpoints
/.venv
/bar-pie.jpg
/bar-pie.png
/bar-vs-pie.webp
/Borough Bar Chart.svg
/Borough Distribution.svg
/Borough Pie Chart.svg
/cleaned_noise_data.pkl
/Daily Distribution.svg
/Hourly Distribution.svg
/multi-line.jpg
/Noise_Complaints__in_2017_.csv
/noise_data.pkl
/NYC Noise Complaints Category.html
/NYC Noise Complaints Category.zip
/NYC Noise Complaints Visualization.zip
/sampled_noise_data.pkl
/sampled_noise_data_8th.pkl
/Screenshot_20221204-113033_Reddit.jpg
/sketches.jpg
/stacked-bar-chart.png
NYC Noise Complaints.ipynb